@import 'style.scss';

.button-next-previous{
    bottom: map-get($buttonGold, bottom);
    right: map-get($buttonGold, right);
    padding: map-get($buttonGold, padding);
    background: map-get($buttonGold, background);
    font-size: map-get($buttonGold, font-size);
    font-weight: map-get($buttonGold, font-weight);
    color: map-get($buttonGold, color);
    border-radius: map-get($buttonGold, border-radius);
    box-shadow: map-get($buttonGold, box-shadow);
    transition: map-get($buttonGold, transition);
    &:hover{
        // transform: scale(1.02);
        background-color: $jauneHoverCVB;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    }
}
.bloc-main-photo{
    position: relative;
    .main-photo{
        background-size: cover;
        position: relative;
        img{
            width: 100%;
            height: 40vh;
            object-fit: cover;
        }
    }
    h1{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        font-family: $fontTitle;
        font-weight: 900;
        color: white;
    }
}

section{
    width: auto;
    h1{
        position: relative;
        white-space: nowrap;
        margin: 3%;
        Font-family: $fontTitle;
        font-size: $sizeTitle;
        color: $bleuCVB;
        font-weight: 900;
    }
    h1::after {
        content: '';
        position: absolute;
        bottom: -5px; /* Ajustez cette valeur selon vos besoins */
        left: 0;
        width: 60%; /* Largeur de la barre égale à la largeur du titre */
        height: 4px;
        background: $rougeCVB;
    }
    //dans la page actualités
    .cards{
        margin: 0% 6% 3%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .card{
            margin-top: 2%;
            margin-right: 3%;
            width: 500px;
            min-height: auto;
            background: white;
            border: 1px solid #d8d8d8;

            h2{
                font-size: 20px;
                font-weight: 800;
                margin: 10px 10px;
                overflow: hidden;
                padding: 0 10px;
                color: #353740;
            }
            h3{
                margin: 10px 10px;
                padding: 0 10px;
                color: #989fa6;
            }
            img{
                height: 350px;
                min-width: 100%;
                object-fit: cover;
            }
            .filtre-img{
                background-color: rgba(0,0,0,0.1);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 1;
            }
        }
    }

    //dans la page pour chaque actualité individuelle
    article{
        h1{
            position: relative;
            white-space: nowrap;
            margin: 3% 10%;
            Font-family: $fontTitle;
            font-size: $sizeTitle;
            color: $bleuCVB;
            font-weight: 900;
        }
        h1::after {
            content: '';
            position: absolute;
            bottom: -5px; /* Ajustez cette valeur selon vos besoins */
            left: 0;
            width: 60%; /* Largeur de la barre égale à la largeur du titre */
            height: 4px;
            background: $rougeCVB;
        }
        .card-actu{
            margin: 5% auto;
            width: 70%;
            max-width: 900px;
            min-height: auto;
            background: white;
            border: 1px solid #d8d8d8;
            h3{
                position: absolute;
                font-style: italic;
                top: -5%;
            }
            h2{
                font-size: 20px;
                font-weight: 800;
                overflow: hidden;
                padding: 20px;
                color: #353740;
            }
            .article-content{
                margin-top: 2%;
                line-height: 1.65;
                padding: 20px;
                text-align: justify;
                color: #353740;
            }
            img{
                width: 100%;
                height: auto;
                max-height: 600px;
                object-fit: cover;
            }
            .filtre-img{
                background-color: rgba(0,0,0,0.1);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 1;
            }
        }
    }
    .left-bloc{
        width: 90%;
    }
    .right-bloc{
        width: 10%;
        margin: 5% auto;
        margin-right: 15%;
        .reseaux{
            display: flex;
            flex-direction: column;
            gap: 40px;

            // flex justify-center flex-column flex-wrap gap-12
        }
    }


}
    