@import 'style.scss';


//________________________________________________________________
// _____________________________ Login ____________________________
//________________________________________________________________
.login-form{
    .logoClub{
        width: 200px;
    }
}
.bouton-admin{
    // Utilisation de map-get() pour récupérer les valeurs de $buttonGold
    bottom: map-get($buttonGold, bottom);
    right: map-get($buttonGold, right);
    padding: map-get($buttonGold, padding);
    background: #303030;
    font-size: map-get($buttonGold, font-size);
    font-weight: map-get($buttonGold, font-weight);
    color: map-get($buttonGold, color);
    border-radius: map-get($buttonGold, border-radius);
    box-shadow: map-get($buttonGold, box-shadow);
    transition: map-get($buttonGold, transition);        
    &:hover{
        // transform: scale(1.02);
        background-color: white;
        color: #303030;
        border: 1px solid #303030;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    }
}
//________________________________________________________________
// _____________________________ Menu ____________________________
//________________________________________________________________
.logo-dashboard{
    .logoClub{
        width: 80px;
        margin : 10%;
    }
}
.main{
    width: 100%;
    display: flex;
    aside{
        width: 300px;
        min-width: 250px;
        // height: 100vh;
        min-height: 100vh;
        border-right: 1px solid rgb(200, 200, 200);
        position: static;
        ul{
            div{
                &:hover{
                    background: rgba(0, 255, 170, 0.089);
                    li{
                        font-weight: 900;
                    }
                }
            }
            li{
                display: flex;
                gap: 10px;
                padding: 10px 10px;
                margin: 20px;
                font-size: 20px;
                color: #959ea9;
                border-radius: 5px;
                cursor: pointer;
                img{
                    width: 30px;
                }
            }
        }
    }
    article{
        width: 100%;
        background: rgba(0, 255, 170, 0.089);

        nav{
            height: 8vh;
            width: 100%;
            display: flex;
            justify-content:end;
            .dropdown-profil{
                margin: 20px 50px;
                z-index: 2;
            }
        }
        section{
            // height: calc(100vh - 8vh);
        }
    }
}

//________________________________________________________________
// _____________________________ Default ____________________________
//________________________________________________________________

.stats{
    width: 90%;
    margin: 5% auto;
    display: flex;
    gap: 2%;
    justify-content: space-around;
    .bloc-stats{
        display: flex;
        width: 300px;
        height: 150px;
        padding: 35px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        img{
            width: auto;
            height: 60px;
            margin-right: 20px;
            margin-top: 15px;
        }
        p{
            color: #959ea9;
            font-weight: 400;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            span{
                color: black;
                font-size: 35px;
                font-weight: 900;
                
            }
        }

    }
}
.bloc-content{
    width: 80%;
    margin: 5% auto;
    display: flex;
    justify-content: space-around;
    .raccourcis{
        h3{
            font-size: 20px;
            text-decoration: underline;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .liens{
            display: flex;
            flex-direction: column;
            gap: 50px;
            a{
                border-radius: 10px;
                background-color: white;
                padding: 20px;
                font-size: 20px;
                font-weight: 500;
                color: grey;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
                position: relative;
                &:hover{
                    color: orange;
                    left: 2px; 
                    top: 2px; 
                    cursor: pointer;
                }
            }
        }

    }
    .first-team{
        width: 100%;
    }
}


//________________________________________________________________
// _____________________________ Joueurs ____________________________
//________________________________________________________________


//________________________________________________________________
// _____________________________ Equipes ____________________________
//________________________________________________________________

//________________________________________________________________
// _____________________________ Actualités ____________________________
//________________________________________________________________
.create-actu{
    .button-create-actu{
        margin: 5% 5% 2%;
        padding: 8px;
        background: rgb(255, 255, 255);
        border: solid 1px rgb(0, 255, 157);
        color: black;
        font-weight: 800;
        border-radius: 5px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        &:hover{
            background: rgb(98, 253, 194);
    
        }
    }
    .block-create-actu{
        width: 90%;
        margin: 0 auto;
        .new-actu{
            width: 50%;
            form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .input-form{
                    display: flex;
                    flex-direction: column;
                }
                input[type="text"]{
                    width: 80%;
                    max-width: 500px;
                    border-radius: 10px;
                    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
                    &:focus{
                        border: solid 1px rgb(0, 255, 157);
                    }
                }
                textarea{
                    width: 80%;
                    max-width: 500px;
                    border-radius: 10px;
                    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
                    &:focus{
                        border: solid 1px rgb(0, 255, 157);
                    }
                }
                button{
                    width: 100px;
                    padding: 8px;
                    background: rgb(255, 255, 255);
                    border: solid 1px rgb(0, 255, 157);
                    color: black;
                    font-weight: 800;
                    border-radius: 5px;
                    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
                    &:hover{
                        background: rgb(98, 253, 194);
                    }
                }
                .message-error-form{
                    p{
                        background: rgb(218, 114, 114);
                        color: white;
                        margin-right: 50px;
                        padding: 10px;
                        border-radius: 10px;
                    }
                }
                .message-valid-form{
                    p{
                        background: rgb(114, 218, 149);
                        color: rgb(255, 255, 255);
                        margin-right: 50px;
                        padding: 10px;
                        border-radius: 10px;
                    }
                }
            }
        }
        .extrait{
            width: 50%;
            padding: 2%;
            margin-top: -10%;
            background: white;
            border-radius: 10px;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
            h1{
                position: relative;
                white-space: nowrap;
                margin: 3% 10%;
                Font-family: $fontTitle;
                font-size: 25px;
                color: $bleuCVB;
                font-weight: 900;
            }
            h1.with-bar::after {
                content: '';
                position: absolute;
                bottom: -5px; /* Ajustez cette valeur selon vos besoins */
                left: 0;
                width: 60%; /* Largeur de la barre égale à la largeur du titre */
                height: 4px;
                background: $rougeCVB;
            }
            .card-actu{
                img{
                    width: 100%;
                    height: auto;
                    max-height: 600px;
                    object-fit: cover;
                }                
            }
        }
    }
}
.liste-actus{
    width: 80%;
    margin: 2% auto;
    tr{
        background: white;
        min-height: 50px;
        border: solid 1px grey;

        td{
            padding: 5px;
            img{
                width: 100px;
                max-height: 60px;
                object-fit: cover;
                padding: 5px;
            }
            .button-edit, .button-delete{
                width: 40px;
            }
        }
    }
    .prev-button, .next-button{
        width: 160px;
        padding: 8px;
        background: rgb(255, 255, 255);
        border: solid 1px rgb(0, 255, 157);
        color: black;
        font-weight: 800;
        border-radius: 5px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        &:hover{
            background: rgb(98, 253, 194);
        }
    }
}

//________________________________________________________________
// _____________________________ Users ____________________________
//________________________________________________________________
.users{
    padding-top: 5%;
    table{
        width: 80%;
        margin: 0 auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        th, td {
            padding: 0px 20px;
            text-align: start;
        }
        button{
            margin: 10px auto;
        }
        .button-edit, .button-delete{
            img{
                width: 40px;
            }
        }
        .button-cancel{
            img{
                width: 30px;
            }
        }
    }
    input{
        width: 200px;
        border: 1px solid rgb(192, 192, 192);
        border-radius: 10px;
        background: #f2f2f2;
    }
    .button-add-user{
        padding: 8px;
        background: rgb(255, 255, 255);
        border: solid 1px rgb(0, 255, 157);
        color: black;
        font-weight: 800;
        border-radius: 5px;
        &:hover{
            background: rgb(98, 253, 194);

        }
    }
}