@import 'style.scss';

body{
    background-color: white;
}

section{
    h1{
        position: relative;
        white-space: nowrap;
        margin: 3%;
        Font-family: $fontTitle;
        font-size: $sizeTitle;
        color: $bleuCVB;
        font-weight: 900;
    }
    h1::after {
        content: '';
        position: absolute;
        bottom: -5px; /* Ajustez cette valeur selon vos besoins */
        left: 0;
        width: 60%; /* Largeur de la barre égale à la largeur du titre */
        height: 4px;
        background: $rougeCVB;
    }
    .planning, .organigramme, .historique, .reglement, .statuts, .tarifs, .mode-emploi-icence, .devenez-partenaire{
        margin: 5% 10%;
        display: flex;
        justify-content: center;
    }
    .reglement, .statuts, .tarifs, .mode-emploi-icence, .devenez-partenaire{
        border-bottom: solid 1px rgb(153, 153, 153);
    }
    .projet{
        margin: 0 auto;
        width: 100%;
        .intro{
            padding: 3% 20%;
            background-color: $rougeCVB;
            color: white;
            h3{
                text-align: center;
                color: white;
                font-size: 22px;
                margin-bottom: 3%;
                font-weight: 600;
            }
            p{
                margin-top: 2%;
                text-align: center;
                line-height: 1.75;
                font-weight: 400;
                font-size: 18px;
            }
        }
        .projet-content{
            margin-top: 5%;
            h3{
                text-align: center;
                font-weight: 900;
                margin: 2% auto;
                text-decoration: underline;
                color: $rougeCVB;
            }
            h4{
                text-align: center;
                margin: 2% auto;
                font-weight: 700;
            }
            p{
                padding: 0 20%;
                line-height: 1.5;
                text-align: justify;
                margin-bottom: 25px;
                ul{
                    list-style-type: square;
                    margin-left: 4%;
                }
                a{
                    text-decoration: underline;
                    cursor: pointer;
                    color: $rougeCVB;
                    font-weight: bold;
                }
            }
        }
        .modalites{
            strong{
                color: $rougeCVB;
            }
        }
    }
    .docs-divers{
        margin-bottom: 3%;
        ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10%;
            li{
                margin-top: 3%;
                text-align: center;
            }
            p{
                width: 50%;
                margin: 5% auto;
                background-color: $jauneCVB;
                color: white;
                border-radius: 5px;
                font-weight: bold;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
                position: relative;
                transition: all 0.3s ease;
                &:hover{
                    background-color: $jauneHoverCVB;
                    left: 1px; /* Déplacement vers la droite de 5 pixels */
                    top: 1px; /* Déplacement vers le bas de 5 pixels */
                }
            }
        }
    }
}

//________________________________________________________________
// _____________________________ Patners _________________________
//________________________________________________________________

.partners-title{
    Font-family: $fontTitle;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: $bleuCVB;
    text-decoration: underline;
}
.partners{
    width: 60%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    img{
        height: 100px;
        width: auto;
        margin: 50px auto;
    }
}

//________________________________________________________________
// _____________________________ Boutique ________________________
//________________________________________________________________

.boutique{
    width: 70%;
    margin: 5% auto;
    .intro{
        h3{
            color: rgb(0, 0, 0);
            font-size: 22px;
            margin-bottom: 3%;
            font-weight: 600;
        }
        p{
            margin-top: 2%;
            line-height: 1.75;
            font-weight: 400;
            font-size: 18px;
            a{
                color: $rougeCVB;
                font-weight: 600;
                cursor: pointer;
                &:hover{
                    color: $jauneHoverCVB;
                }
            }
        }
    }
    .riva-floc{
        margin-top: 5%;
        h2{
            margin: 2% auto;
            text-align: center;
            font-weight: 800;
            font-size: 30px;
            color: $bleuCVB;
            text-decoration: underline;
        }
        p{
            text-align: center;
            color: $rougeCVB;
            font-weight: 800;
            font-size: 20px;
            a{
                cursor: pointer;
                &:hover{
                    color: $jauneHoverCVB;
                }
            }
        }
        img{
            margin: 0 auto;
            width: 90%;
            max-width: 1000px;
        }
    }
    .ak-seven{
        h2{
            margin: 2% auto;
            text-align: center;
            font-weight: 800;
            font-size: 30px;
            color: $bleuCVB;
            text-decoration: underline;
        }
        p{
            margin: 5% auto;
            text-align: center;
            color: $bleuCVB;
            font-weight: 500;
            font-size: 20px;
            a{
                color: $rougeCVB;
                font-weight: 800;
                cursor: pointer;
                &:hover{
                    color: $jauneHoverCVB;
                }
            }
        }
        img{
            margin: 0 auto;
            max-width: 1000px;
            width: 90%;
        }
        .bon-commande{
            margin-top: 5%;
            max-width: 1000px;
        }
        .bloc-tailles{
            margin-top: 5%;
            display: flex;
            justify-content: center;
            h3{
                text-align: center;
                color: $rougeCVB;
                font-size: 25px;
                font-weight: 700;
            }
            img{
                max-height: 600px;
                max-width: 700px;
            }
        }
    }
}