@import 'style.scss';


.button-resultats{
    bottom: map-get($buttonGold, bottom);
    right: map-get($buttonGold, right);
    padding: map-get($buttonGold, padding);
    background: map-get($buttonGold, background);
    font-size: map-get($buttonGold, font-size);
    font-weight: map-get($buttonGold, font-weight);
    color: map-get($buttonGold, color);
    border-radius: map-get($buttonGold, border-radius);
    box-shadow: map-get($buttonGold, box-shadow);
    transition: map-get($buttonGold, transition);
    &:hover{
        // transform: scale(1.02);
        background-color: $jauneHoverCVB;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    }
}

.team-img{
    margin: 1% auto;
    width: 80%;
    max-width: 1000px;
    max-height: 600px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

section{
    h1{
        position: relative;
        white-space: nowrap;
        margin: 3%;
        Font-family: $fontTitle;
        font-size: $sizeTitle;
        color: $bleuCVB;
        font-weight: 900;
    }
    h1::after {
        content: '';
        position: absolute;
        bottom: -5px; /* Ajustez cette valeur selon vos besoins */
        left: 0;
        width: 60%; /* Largeur de la barre égale à la largeur du titre */
        height: 4px;
        background: $rougeCVB;
    }    
    h2{
        Font-family: $fontTitle;
        font-size: 30px;
        text-align: center;
        font-weight: 700;
        color: $bleuCVB;
    }
    .players-cards{
        width: auto;
        padding: 0 10%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .player-card{
            margin: 2% auto;
        }
        img{
            width: auto;
            max-width: 350px;
        }
        h3{
            Font-family: $fontTitle;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            color: $bleuCVB;
            word-wrap: break-word;
        }
    }
    .coach-card{
        img{
            width: auto;
            max-width: 350px;
        }
        .no-player{
            width: auto;
            max-width: 450px;
        }
        h3{
            text-align: center;
        }
    }
    .staff-cards{
        width: auto;
        padding: 0 10%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .staff-card{
            .no-staff{
                width: 9000px;
            }
            .staff-image{
                width: 350px
            }
            .no-staff-image{
                width: auto;
                max-width: 420px;
            }
            h3{
                Font-family: $fontTitle;
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                color: $bleuCVB;
                word-wrap: break-word;
            }
        }
    }

}
