@import 'variables.scss';

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background-color: $whiteFondCVB;
    overflow-x: hidden;
}
//________________________________________________________________
// _____________________________ Header ____________________________
//________________________________________________________________

.header{
    height: 125px; //hauteur de introBar(35px) + Navbar(90px)
    background-color: #ffffff;
}
.content{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.introBar{
    background: linear-gradient(to left, $rougeCVB 0%, $bleuCVB 100%);
    height: 35px;
    p{
        margin-left: 20%;
        font-size: 18px;
    }
    div{
        margin-right:20%;
    }
    img{
        width: 25px;
        transition: transform 0.3s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.navbar{
    position: relative;
    width: 100%;
    height: 90px;
    background-color: #ffffffe8;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1;

    .navbar-content{
        margin: 0 10%;
    }
    .MenuNavbar{
        display: flex;
        gap: 16px;
        li {
            font-weight: 500;
            font-size: 20px;
            color: $bleuCVB;
            display: inline-block;
            margin: 0;
            text-decoration: none;
            position: relative;
        }
        li::before{
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $jauneCVB;
            transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
            transform-origin: left;
        }
        li:hover::before {
            width: 100%;
            left: 0;
        }  
        img{
            width: 10px;
            min-width: 10px;
            margin-top: 12px;
            margin-left: 5px;
            transition: transform 0.5s ease-in-out;
        }   
        li:hover img {
            transform: rotate(180deg) translateY(0%);
        }
        .dropdown-content{
            li{
                font-size: 16px;
            }
        }
    }
    .itemMenu{
        white-space: nowrap;
    }
    .logoClub{
        // position: absolute;
        top: 0%;
        left: 15%;
        width: 0px;
        min-width: 100px;
    }
}


// _______________________Dropdown menu___________________

.dropdown-item {
    position: relative;
    cursor: pointer;
}
.dropdown-content {
    opacity: 0;
    visibility: hidden; /* Masquer le contenu */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transition: opacity 0.6s ease, visibility 0.6s ease; /* Ajoutez une transition sur l'opacité et la visibilité */
    ul{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: black;
        font-weight: 500;
        border-radius: 5px;
        border-top: 5px solid $jauneCVB;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 20px;
        background: #ffffffe8;
        h3{
            color: $jauneCVB;
        }
    }
}
.dropdown-item:hover .dropdown-content{
    // display: flex;
    opacity: 1; /* Au survol, l'opacité devient 1, affichant le contenu */
    visibility: visible; /* Rendre le contenu visible */
}

//________________________________________________________________
// _____________________________ Footer ____________________________
//________________________________________________________________

    /*
        via https://www.shapedivider.app/
    */
    .custom-shape-divider-bottom-1709894291 {
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1709894291 svg {
        position: relative;
        display: block;
        width: calc(242% + 1.3px);
        height: 127px;
    }
    
    .custom-shape-divider-bottom-1709894291 .shape-fill {
        fill: $bleuCVB;
    }
    
    .footer{
        width: 100%;
        padding-bottom: 20px;
        background: $bleuCVB;
        .logoClub{
            width: 200px;
        }
        .infos-pratiques{
            h2{
                font-size: 32px;
                font-weight: 900;
                text-decoration: underline;
                color: white;
            }
            p{
                line-height: 150%;
                font-size: 20px;
                color: white;
            }
        }
        .mentions{
            li {
                font-weight: 500;
                font-size: 16px;
                color: white;
                display: inline-block;
                margin: 0;
                text-decoration: none;
                position: relative;
            }
            li::before{
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $jauneCVB;
                transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
                transform-origin: left;
            }
            li:hover::before {
                width: 100%;
                left: 0;
            }  
        }
        .reseaux-sociaux img{
                width: 30px;
                transition: transform 0.3s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
        }
        .sign{
            p{
                font-size: 16px;
            }
            a {
                font-weight: 500;
                font-size: 16px;
                color: white;
                display: inline-block;
                margin: 0;
                text-decoration: none;
                position: relative;
            }
            a::before{
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $jauneCVB;
                transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
                transform-origin: left;
            }
            a:hover::before {
                width: 100%;
                left: 0;
            }    
        }
    }
    